.board {
  display: grid;
  grid-template-columns: repeat(8, var(--board-size-desktop));
  grid-template-rows: repeat(8, var(--board-size-desktop));
  gap: 0;
  border: 2px solid var(--color-border-default);
  width: auto;
}

.white,
.black {
  width: var(--board-size-desktop);
  height: var(--board-size-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: var(--color-white-square);
}

.black {
  background-color: var(--color-black-square);
}

/* Animación */
@keyframes blink-red {
  0%, 100% {}
  50% {
    border: 3px solid red;
  }
}
.white.valid-move,
.black.valid-move {
  animation: blink-red 1s infinite;
}

@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
  }

  .white,
  .black {
    width: 40px;
    height: 40px;
  }
}