footer {
  width: 100dvw;
  background-color: var(--color-footer-header-bg);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-footer-header-text);
  height: var(--footer-height);
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}