* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  background: linear-gradient(
    146deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(89, 89, 89, 1) 43%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.winner-white {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  animation: blink 1s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff; /* verde suave para victoria blanca */
}

.winner-black {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  animation: blink 1s infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #000000; /* azul para victoria negra */
}

.turn-white {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.turn-black {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
